html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}

.progress-indicator {
  width: 28px;
  height: 28px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-default'><rect x='0' y='0' width='100' height='100' fill='none' class='bk'></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(0 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(30 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(60 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(90 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(120 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(150 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(180 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(210 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(240 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(270 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(300 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(330 50 50) translate(0 -30)'><animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/></rect></svg>");
  background-repeat: no-repeat;
}

.progress-indicator._small {
  width: 21px;
  height: 21px;
}

.workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.connect-form {
  padding: 21px;
}

.connect-form .progress-indicator {
  display: inline-block;
  margin-left: 11px;
  position: relative;
  top: 7px;
  visibility: hidden;
}

.connect-form .progress-indicator._visible {
  visibility: visible;
}

.header {
  width: 100%;
  background-color: #fdfdfd;
}

.header-menu {
  float: left;
  margin: 0 14px;
}

.header-menu-item {
  float: left;
  height: 42px;
  line-height: 42px;
}

.header-menu-item.close {
  margin-left: 21px;
}

.header-menu-item.close .progress-indicator {
  display: inline-block;
  position: relative;
  top: 7px;
  margin-left: 11px;
  visibility: hidden;
}

.header-menu-item.close .progress-indicator._visible {
  visibility: visible;
}

.header-buttons {
  height: 42px;
  float: right;
  margin: 0 14px;
  line-height: 42px;
}

.header-buttons-item {
  float: left;
}

.header-buttons-item._run .progress-indicator {
  display: inline-block;
  position: relative;
  top: 7px;
  visibility: hidden;
  margin-right: 11px;
}

.header-buttons-item._run .progress-indicator._visible {
  visibility: visible;
}

.editor {
  clear: left;
  border-top: gainsboro 1px solid;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  overflow:hidden;
}

.editor .CodeMirror {
  width: 100%;
  height: 100%;
}

textarea {
}

.grid-container {
  display: block;
  width: 100%;
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 200px;
  overflow: scroll;
}

.grid {
  border-collapse: collapse;
  line-height: 24px;
  width: 100%;
  color: #333;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
}

.grid thead {
  //position: fixed;
  background-color: #fdfdfd;
  left: 0;
  right: 0;
}

.grid th {
  font-size: 12px;
  text-align: left;
  border-right: #eee 1px dotted;
  border-bottom: #ccc 1px solid;
  padding: 0 11px;
  width: 125px;
}

.grid th:last-child {
  border-right-width: 0px;
  width: auto;
}

.grid tbody td {
  font-size: 12px;
  border-right: #eee 1px dotted;
  border-bottom: #eee 1px solid;
  padding: 0 11px;
  width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid tbody td:last-child {
  border-right-width: 0px;
  width: auto;
}

.grid tbody tr:last-child td {
  border-bottom-width: 0px;
}

.status-bar {
  background-color: #fcfcfc;
  height: 0px;
  line-height: 26px;
  height: 26px;
  font-size: 11px;
  padding: 0 14px;
  color: #666;
  font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

.status-bar-left {
  float: left;
}

.status-bar-right {
  float: right;
}
