button, select {
  -webkit-app-region: no-drag;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font: 13px "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.progress-indicator {
  width: 28px;
  height: 28px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-default'><rect x='0' y='0' width='100' height='100' fill='none' class='bk'></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(0 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(30 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(60 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(90 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(120 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(150 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(180 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(210 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(240 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(270 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(300 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(330 50 50) translate(0 -30)'><animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/></rect></svg>");
  background-repeat: no-repeat;
}

.workspace {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.connect {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.connect-errors {
  position: absolute;
  top: 21px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style-type: none;
  align-self: center;
}

.connect-form {
  margin: 21px;
  align-self: center;
  width: 227px;
  margin-top: -50px;
}

.connect-form-item {
  margin-bottom: 3px;
}

.connect-form-item._connect {
  margin-top: 11px;
  text-align: center;
}

.connect-form-label {
  display: inline-block;
  width: 60px;
  text-align: right;
  margin-right: 11px;
  font-size: 13px;
}

.connect-form-input {
  font-size: 13px;
  width: 150px;
}

.connect-form-item._connect button {
  font-size: 13px;
}

.connection-history {
  align-self: center;
  border-top: #ddd 1px solid;
  margin-top: 21px;
}

.connection-history-header {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin-bottom: 0px;
  padding: 0 7px;
  background-color: #ffffff;
  position: relative;
  top: -17px;
  left: 91.5px;
}

.connection-history-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 100px;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 227px;
}

.connection-history-list-item {
  cursor: pointer;
}

.connection-history-list-item-label {
  width: 60px;
  display: inline-block;
  margin-right: 11px;
  text-align: right;
}

.workspace-errors-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  left: 50%;
  top: 10px;
  position: absolute;
  margin-left: -200px;
  z-index: 3;
}

.workspace-errors-list-item {
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fefefe;
    line-height: 19px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  height: 37px;
  border-bottom: #f0f0f0 1px solid;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.header-title {
  flex: 0 0 200px;
  line-height: 37px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-left: -77px;
}

.header-menu {
  flex: 0 0 150px;
  height: 37px;
  overflow: hidden;
}

.header-menu-item {
  height: 37px;
  line-height: 37px;
}

.header-menu._left {
  margin: 0 8px 0 77px;
}

.header-menu._right {
  margin: 0 8px;
}

.header-menu._left .header-menu-item {
  float: left;
}

.header-menu._right .header-menu-item {
  float: right;
}

.header-menu .header-menu-item button {
  font-size: 13px;
}

/* Button with indicator */

.button-with-indicator {
    position: relative;
}

.button-with-indicator._right {
    margin-right: 32px;
}

.button-with-indicator._left {
    margin-left: 32px;
}

.button-with-indicator._left::before,
.button-with-indicator._right::after {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  width: 21px;
  height: 21px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-default'><rect x='0' y='0' width='100' height='100' fill='none' class='bk'></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(0 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(30 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.08333333333333333s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(60 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.16666666666666666s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(90 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.25s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(120 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.3333333333333333s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(150 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.4166666666666667s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(180 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(210 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.5833333333333334s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(240 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.6666666666666666s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(270 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.75s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(300 50 50) translate(0 -30)'>  <animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.8333333333333334s' repeatCount='indefinite'/></rect><rect  x='46' y='38' width='8' height='24' rx='2' ry='2' fill='#999999' transform='rotate(330 50 50) translate(0 -30)'><animate attributeName='opacity' from='1' to='0' dur='1s' begin='0.9166666666666666s' repeatCount='indefinite'/></rect></svg>");
}

.button-with-indicator._right::after {
    right: -32px;
}

.button-with-indicator._left::before {
    left: -32px;
}

/* Editor */

.editor {
  clear: left;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  overflow: hidden;
}

.editor .CodeMirror {
  font: 12px/18px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
  width: 100%;
  height: 100%;
  padding: 0 3px;
}

.grid-container {
  display: block;
  width: 100%;
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 200px;
  overflow: scroll;
}

.grid {
  border-collapse: collapse;
  line-height: 24px;
  width: 100%;
  color: #333;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
}

.grid thead {
  //position: fixed;
  background-color: #fdfdfd;
  left: 0;
  right: 0;
}

.grid th {
  font-size: 12px;
  text-align: left;
  border-right: #eee 1px dotted;
  border-bottom: #ccc 1px solid;
  padding: 0 11px;
  width: 125px;
}

.grid th:last-child {
  border-right-width: 0px;
  width: auto;
}

.grid tbody td {
  font-size: 12px;
  border-right: #eee 1px dotted;
  border-bottom: #eee 1px solid;
  padding: 0 11px;
  width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid tbody td:last-child {
  border-right-width: 0px;
  width: auto;
}

.grid tbody tr:last-child td {
  border-bottom-width: 0px;
}

.status-bar {
  background-color: #f6f6f6;
  height: 0px;
  line-height: 26px;
  height: 26px;
  font-size: 11px;
  padding: 0 8px;
  color: #000;
  font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}

.status-bar-left {
  float: left;
}

.status-bar-right {
  float: right;
}
